<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<body>
  <div data-ng-app="" data-ng-init="labBgcol='yellow';labCol='red'">
    <!--AngularJS expressions can be written inside double braces: {{ expression }}
    AngularJS expressions can also be written inside a directive: data-ng-bind="expression"-->
    <p>The expression value is: {{ 84 + 87 }}</p>
    <!--If we remove the data-ng-app directive, HTML will display the expression as it is, without solving it-->
    <!--We can write expressions wherever you like, AngularJS will simply resolve the expression and return the result.-->
    <label style="background-color:{{labBgcol}}, color:{{labCol}};" data-ng-model="labBgcol"
      data-ng-model="labCol">Welcome</label>
  </div>
</body>

</html>